*{
margin:0;
padding:0;
}
.header{
display:flex;
background-color:lightpink;
position:sticky;
top:0px;
}
h1{
padding-top:50px;
margin-left:100px;
font-weight:bold;
font-size:25px;
}
.background{
background-image:url("https://wallpapercave.com/wp/wp3100875.jpg");
background-attachment:fixed;
background-size:cover;
background-repeat:no-repeat;
}